#!/bin/bash
GITBUCKET_PASSWORD=""
GITBUCKET_PORT=""
GITBUCKET_URL=""
GITBUCKET_USER=""

JENKINS_LOCALHOST_PORT="8080"
JENKINS_LOCALHOST_URL="localhost"
JENKINS_PASSWORD=""
JENKINS_PORT=""
JENKINS_URL=""
JENKINS_USER=""
