<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>*/10 * * * *</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.90">
    <script>pipeline {
	agent { label &quot;master&quot; }

	environment {
		REPOSITORY = &quot;cicd&quot;
	}

	stages {
		stage(&quot;clean workspace&quot;) {
			steps {
				cleanWs()
			}
		}

		stage(&quot;git clone&quot;) {
			steps {
				sh &quot;git clone https://github.com/sk8393/cicd.git&quot;
				sh &quot;pwd&quot;
				sh &quot;ls -lR&quot;
			}
		}

		stage(&quot;build image&quot;) {
			steps {
				sh &quot;cd ${REPOSITORY}/jenkins/;chmod 774 export.sh;./export.sh&quot;
			}
		}
	}
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>